<div id="sidebar" class="sidebar">
					<div class="sidebar-menu nav-collapse">
						<div class="divide-20"></div>

						<!-- /SEARCH BAR -->

						<!-- SIDEBAR QUICK-LAUNCH -->
						<!-- <div id="quicklaunch">-->
						<!-- /SIDEBAR QUICK-LAUNCH -->

						<!-- SIDEBAR MENU -->
						<ul>




							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-table fa-fw"></i> <span class="menu-text">系统设置模块</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a class="" href="/userlist"><span class="sub-menu-text">系统用户维护</span></a></li>

								</ul>
							</li>

							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-table fa-fw"></i> <span class="menu-text">老年人信息管理</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li>
										<a class="" href="/oldpersoninfolist"><span class="sub-menu-text">老年人信息</span>
										</a>
									</li>


									<li>
										<a class="" href="/oldpersonstatistic"><span class="sub-menu-text">老年人统计分析</span>
										</a>
									</li>

								</ul>
							</li>

							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-table fa-fw"></i> <span class="menu-text">工作人员信息管理</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li>
										<a class="" href="/employeeinfolist"><span class="sub-menu-text">工作人员信息</span>
										</a>
									</li>

									<li>
										<a class="" href="/employeestatistic"><span class="sub-menu-text">工作人员统计分析</span>
										</a>
									</li>
								</ul>
							</li>

							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-table fa-fw"></i> <span class="menu-text">义工信息管理</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li>
										<a class="" href="/volunteerinfolist"><span class="sub-menu-text">义工信息</span>
										</a>
									</li>

									<li>
										<a class="" href="/volunteerstatistic"><span class="sub-menu-text">义工统计分析</span>
										</a>
									</li>
								</ul>
							</li>

							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-table fa-fw"></i> <span class="menu-text">数据管理</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">

									<li>
										<a class="" href="/datamanage"><span class="sub-menu-text">实时报表</span>
										</a>
									</li>

								</ul>
							</li>
							<!--

							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-table fa-fw"></i> <span class="menu-text">摄像头管理</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">

									<li>
										<a class="" href="/video1"><span class="sub-menu-text">大门摄像头</span>
										</a>
									</li>
									<li>
										<a class="" href="/video1"><span class="sub-menu-text">院内摄像头</span>
										</a>
									</li>
									<li>
										<a class="" href="/video1"><span class="sub-menu-text">走廊摄像头</span>
										</a>
									</li>
									<li>
										<a class="" href="/video1"><span class="sub-menu-text">房间摄像头</span>
										</a>
									</li>

								</ul>
							</li>-->


						</ul>
						<!-- /SIDEBAR MENU -->
					</div>
				</div>